<table>
 <tr>
   <td>
     <a routerLink="/" alt="logo">
      <img src="assets/logo.png">
    </a>
   </td>
   <td>
  <a routerLink="/inicio">inicio</a>&nbsp;|&nbsp;
  <a routerLink="/demo">demo</a>&nbsp;|&nbsp;
  <a routerLink="/chisme/de/hacer/numeros">calculadora</a>&nbsp;|&nbsp;
  <a routerLink="/personas">personas</a>&nbsp;|&nbsp;
  <a routerLink="/pepito/grillo">pepito</a>&nbsp;|&nbsp;
  <a routerLink="/inventada">inventada</a>&nbsp;|&nbsp;
  <a href="/demo">Lenta</a>&nbsp;|&nbsp;
  <a routerLink="/config">config</a>&nbsp;|&nbsp;
  <a routerLink="/config/datos">datos</a>&nbsp;|&nbsp;

   </td>
 </tr>
</table>
